---
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/ypc/.*(?<!\keccak\.h)$'
FormatStyle: file
Checks: '-*,
    hicpp-use-auto,
    hicpp-move-const-arg,
    hicpp-deprecated-headers,
    hicpp-explicit-conversions,
    readability-braces-around-statements,
    readability-else-after-return,
    readability-implicit-bool-conversion,
    readability-container-size-empty,
    modernize-loop-convert,
    modernize-use-equals-default,
    modernize-use-using,
    cppcoreguidelines-special-member-functions,
    cppcoreguidelines-pro-type-member-init,
    -hicpp-signed-bitwise,
    -modernize-use-trailing-return-type,
    -fuchsia-overloaded-operator,
    -fuchsia-default-arguments-calls,
    -fuchsia-trailing-return,
    -llvm-header-guard,
    -google-runtime-references
'
