*.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
cmake-build-debug/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
lib
bin

*.env
generate

test/integrate
test/project_path.h
.vscode/
.idea/
hash_hex/
